@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    .leadimage {
        width:100%;
    }
    h1 {
    font-family: 'Roboto Slab', serif;   
    color: black;
    font-weight: bold;
    }
    h2 {
    font-family: 'Roboto Slab', serif; 
    color: #F06543;
    }
    
    p {
    font-family: 'Fira Sans', sans-serif;
    color:black;
    font-weight: bold   
    }
    
    h3 {
    font-family:  'Fira Sans', sans-serif;
    color: black;
    font-weight:bolder;
    }
    
   .topquoteline {
        width:100%;
       color: #F06543;
    }
    
   .bottomquoteline {
        width:50%;
       color: #F06543;
    }
    
    .quotetext {
        padding: 10px 10px 10px 10px;
        
    }
    
    .quotemarrk {
        font-size: 100px;
        float:left; 
        color: #F06543;
    }
}

@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/
}